# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Javascript
node_modules/
dist/

# IDEs
.vscode/
.idea/

# Backend Data
backend/datasets/
backend/datasets/images/
backend/datasets/logs/
*.jsonl

# System
.DS_Store
